<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Website{% endblock %}</title>
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
  <div class="container mt-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-black">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link text-white" href="{% url 'home' %}">Home</a>
            </li>

            <ul class="navbar-nav ms-auto">
              {% if user.is_authenticated and user.is_staff or user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'category_page' %}">Category</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'coverType_page' %}">CoverType</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'product_page' %}">Product</a>
              </li>              
              {% endif %}
            </ul>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'orders:show_order' %}">Order</a>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <span class="nav-link text-white">Hello, {{ user.username }}!</span>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'show_cart' %}">
              <i class="fas fa-shopping-cart"></i>
              <span class="badge bg-danger" id="cart-count">{{ cart_item_count|default:0 }}</span>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'login_page' %}">LogIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% include 'alert/alert.html' %}
    <div class="container mt-4">
      {% block content %} {% endblock %}
    </div>
  </div>
</body>

</html>